@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

/*
font-family: 'Montserrat', sans-serif; 300, 400, 700
font-family: 'Open Sans', sans-serif; 300, 400, 700
*/
body {
  background: #F7F9FC;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

#profile-pic {
  height: 100px;
  width: auto;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #758ECD;
}

.card-social a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #758ECD;
}

a:hover {
  color: #435074;
}

.card-social a:hover {
  color: #435074;
}

h2 {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.container {
  width: 40vw;
  margin: 0 auto;
}

.card-main {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.card-social {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  text-align: center;
  margin-bottom: 20px;
}

.lewagon-link {
  background-color: #758ECD;
  color: white;
  padding: 5px 20px;
  border-radius: 3px;
}

.lewagon-link:hover {
  background-color: #435074;
  color:azure;
}

ul {
  list-style: none;
  padding: 0;
  display: block;
}

li {
  display: inline-block;
  margin: 0 20px 10px 20px;
}

@media (max-width: 960px) {
  .container{
    width: 60vw;
  }
}

@media (max-width: 720px) {
  .container{
    width: 80vw;
  }
}

@media (max-width: 540px) {
  .container{
    width: 90vw;
  }
}

.interest-img {
  border-radius: 5px;
  width: 150px;
  height: 110px;
  object-fit: fill;
}

.card-interests {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  text-align: center;
  margin-bottom: 20px;
}
